# Build Folders
src/**/[Bb]in/
src/**/[Oo]bj/

# Visual Studio / IDEs
.vs/
.vscode/
.idea/
*.suo
*.user
*.sln.docstates

# Build results and temps
*.obj
*.pdb
*.log
*.tmp
*.cache
*_i.c
*_p.c
*.ilk
*.meta
*.pch
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.vspscc
*.vssscc
.builds

# OS specific
.DS_Store
Thumbs.db
._*

# Prowlarr Local / Runtime
.env
config/
*.properties
media/
downloads/
*.pid
config.xml
nzbdrone.log*txt
UpdateLogs/
*workspace.xml
*.test-cache
*.userprefs
*/test-results/*
src/UI/.idea/*
*log.txt
node_modules/
_output*
_artifacts
_rawPackage/
_dotTrace*
_tests/
*.Result.xml
coverage*.xml
coverage*.json
setup/Output/
*.~is
.mono

# .NET / Packages
project.lock.json
project.fragment.lock.json
artifacts/
**/Properties/launchSettings.json
packages
packages.config.md5sum
Prowlarr_*/
Prowlarr_*.zip
Prowlarr_*.gz

# Tools
gecko.zip
geckodriver.exe
_ReSharper*
_dotCover*
TEST_RESULTS
[Tt]est[Rr]esult*
ClientBin
~$*
*.dbmdl
Generated_Code
_UpgradeReport_Files/
UpgradeLog*.XML
App_Data/*.mdf
App_Data/*.ldf
*.orig
_NCrunch_*
_TeamCity*

# Azure / Store / Other
csx
*.build.csdef
AppPackages/
publish
*.Publish.xml

# Rider / IntelliJ
**/.idea/**/workspace.xml
**/.idea/**/tasks.xml
**/.idea/shelf/*
**/.idea/dictionaries
**/.idea/.idea.Prowlarr.Posix
**/.idea/.idea.Prowlarr.Windows
**/.idea/**/dataSources/
**/.idea/**/dataSources.ids
**/.idea/**/dataSources.xml
**/.idea/**/dataSources.local.xml
**/.idea/**/sqlDataSources.xml
**/.idea/**/dynamic.xml
**/.idea/**/*.iml
**/.idea/**/contentModel.xml
**/.idea/**/modules.xml

# Misc
.config/
node_modules.nosync

